body {
  background-color: #FFFFFF;
  color: #342638;
  font-family: 'Lato', sans-serif;
  height: 100%;
}
.align {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*NAVBAR======================================================================*/

.input-group-btn .btn:focus {
  outline: none;
}

.search-btn {
  background-color: #FFFFFF !important;
}

.search-icon {
  color: #90589A !important;
}
.navbar-default {
  box-shadow: 2px 0px 20px #2d1c31;
}
.navbar-brand {
  text-shadow: 1px 1px 1px #7D5C87;
}
.navbar-form .input-group {
  display: table;
}
.navbar-form .input-group .input-group-addon, .navbar-form .input-group .input-group-btn {
  white-space: nowrap;
  width: 1%;
}
.navbar-form .input-group .form-control {
  width: 100%;
}

.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}
/*EVENT PAGE==================================================================*/
.event-hr {
	height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
    border: 0;
}
.event-category {
  font-style: italic;
}
.event-container {
  margin: 0 auto;
  margin-top: 5%;
  height: auto;
  width: 75%;
}

.img-responsive {
  max-height: 30em;
  box-shadow: 2px 2px 10px #2d1c31;
}

.event-name {
  font-size: 2em;
  height: 8.5em;
  width: 100%;
  overflow: auto;
  word-wrap: break-word;
  text-shadow: 1px 1px 1px #7D5C87;
}

.event-hour {
  font-size: 500%;
  text-shadow: 1px 1px 1px #7D5C87;
}

.event-venue {
  font-size: 150%;
}

.event-distance {
  font-size: 150%;
}

.event-address {
  font-style: italic;
}

.event-description-header {
  text-shadow: 1px 1px 1px #7D5C87;
}

.event-location-header {
  text-shadow: 1px 1px 1px #7D5C87;
}

.map {
  margin-top: 5%;
  box-shadow: 3px 3px 15px #2d1c31;
}
/*CARD WORK===================================================================*/

.resultsCard {
  max-height: 100%;
}

.thumbnail {
    padding:0;
}

.card-image {
  height: 200px !important;
}

.cardName {
  height:50px;
  text-overflow: ellipsis;
}

.catName {
  background-color: #90589A;
  color: #FFFFFF;
}
/*Splash Page===================================================================*/


.navbar {
  margin-bottom: 0px;
}
.splashPageImg {
    width: 100vw;
    height: 60vh;
    background-position: center;
    background-image: url('../assets/crowd2.jpg');
    background-size: cover;
    box-shadow: 2px 0px 10px #2d1c31;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-input {
  height: 40px;
  width: 40vw !important;
  box-shadow: 6px 6px 10px #2d1c31;
  font-size: 16px;
  font-weight: 300;
  border: .5px solid #90589A;
  border-radius: 10px !important;
}
.searchHeader {
  color: #FFFFFF;
  font-size: 4em;
  text-shadow: 1px 1px 1px #7D5C87;
}

.searchSubHeader {
  color: #FFFFFF;
  font-size: 1.5em;
  text-shadow: 1px 1px 1px #7D5C87;
}
.splashSearch {
  height:10px;
}

.splash-submit {
  border-color: #90589A;
  background-color: #90589A;
  box-shadow: 6px 6px 10px #2d1c31;
  color: #FFFFFF;
  height: 40px;
  font-size: 16px;
  font-weight: 300;
  margin-left: 1vw;
  border: 2px solid #90589A;
  border-radius: 10px !important;
}

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .catButtons .btn {
      margin-bottom: 5%;
    }
    .copyright {
      position: absolute;
      bottom: -220%;
    }
    .searchHeader {
      font-size: 2.3em;
      margin-bottom: 5%;
    }
    .searchSubHeader {
      font-size: 1em ;
    }
    .splash-form {
      display: flex;
      flex-direction: row;
      margin-top: 5%;
      width: 100%;
    }
    #stalkButton {
      display: none;
    }
    .search-input {
      width: 70vw !important;
    }

}

/*Results Page================================================================*/

.filters {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  padding-bottom: 5vh !important;
}

.results-buttons .btn {
  font-size: 1.3em;
  color: white;
  background-color: #90589A;
  margin-right: 1em;
  border-radius: 10px !important;
  box-shadow: 2px 2px 10px #2d1c31;
}

.results-buttons .btn:focus {
  outline: none;
}

.shadow {
  box-shadow: 2px 2px 10px #2d1c31;
}

/*Register Page===============================================================*/
.btn-facebook {
  border-radius: 5px !important;
}

.form-input {
  border-radius: 5px !important;
}

.register-container {
  background: radial-gradient(#FFFFFF, #90589A);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-box {
  background-color: #FFFFFF;
  border-radius: 8px !important;
  box-shadow: 2px 2px 10px #2d1c31;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  width: 30vw;
}

.register-field {
  width: 75%;
}

.signup {
  display: flex;
  justify-content: center;
}

.signup .btn {
  background-color: #90589A;
  border-radius: 5px !important;
  border: none;
  color: #FFFFFF;
  outline: none;
  margin-top: 5%;

}

.signup .btn:active {
  outline: none;
  background-color: #2d1c31;
  color:#FFFFFF;
}

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .filters {
      display: none;
    }
  }


/* PULSE */
.down {
  display: flex;
  justify-content: center;
  padding-bottom: 3vh;
}
.fa-chevron-down {
  color: #90589A;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  100% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

  50% {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }

  100% {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.faa-pulse.animated,
.faa-pulse.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-pulse {
  -webkit-animation: pulse 2s linear infinite;
  animation: pulse 2s linear infinite;
}

.faa-pulse.animated.faa-fast,
.faa-pulse.animated-hover.faa-fast:hover,
.faa-parent.animated-hover:hover > .faa-pulse.faa-fast {
  -webkit-animation: pulse 1s linear infinite;
  animation: pulse 1s linear infinite;
}

.faa-pulse.animated.faa-slow,
.faa-pulse.animated-hover.faa-slow:hover,
.faa-parent.animated-hover:hover > .faa-pulse.faa-slow {
  -webkit-animation: pulse 3s linear infinite;
  animation: pulse 3s linear infinite;
}
