body {
  background-color: #FFFFFF;
  color: #342638;
  font-family: 'Libre Franklin', sans-serif;
  height: 100%;
}
.align {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*NAVBAR======================================================================*/
.navbar-form .input-group {
  display: table;
}
.navbar-form .input-group .input-group-addon, .navbar-form .input-group .input-group-btn {
  white-space: nowrap;
  width: 1%;
}
.navbar-form .input-group .form-control {
  width: 100%;
}

.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}
/*EVENT PAGE==================================================================*/
.event-container {
  margin: 0 auto;
  margin-top: 5%;
  height: auto;
  width: 75%;
}

.img-responsive {
  max-height: 30em;
}

.event-name {
  font-size: 2em;
  height: 8.5em;
  width: 100%;
  overflow: auto;
  word-wrap: break-word;
  text-shadow: 1px 1px 1px #7D5C87;
}

.event-hour {
  font-size: 500%;
  text-shadow: 1px 1px 1px #7D5C87;
}

.event-venue {
  font-size: 150%;
}

.event-distance {
  font-size: 150%;
}

.event-address {
  font-style: italic;
}

.event-description-header {
  text-shadow: 1px 1px 1px #7D5C87;
}

.event-location-header {
  text-shadow: 1px 1px 1px #7D5C87;
}

.map {
  margin-top: 5%;
}
/*CARD WORK===================================================================*/

.resultsCard {
  max-height: 100%;
}

.thumbnail {
    padding:0;
}
.cardName {
  height:50px;
  text-overflow: ellipsis;
}

.catName {
  background-color: #90589A;
  color: #FFFFFF;
}
<<<<<<< HEAD
<<<<<<< HEAD
=======
adding cat nav bar
>>>>>>> adding cat nav bar
=======
>>>>>>> meh
/*Splash Page===================================================================*/

.splashPageImg {
    width: 100vw;
    height: 55vh;
    background-position: center;
    background-image: url('../assets/jacob-repko-64098.jpg');
    /*background-image: url('../assets/jan-senderek-193369.jpg');*/
    background-size: cover;
}
.navbar {
  margin-bottom: 0px;
}

/*.splashSearch {
  text-align: center;position: fixed;
  top: 50%;
  left: 45%;
}*/

/*Results Page================================================================*/

.results-container {
  margin-top: 5%;
}
