body {
  background-color: #FFFFF6;
  color: #342638;
  font-family: 'Libre Franklin', sans-serif;
  height: 100%;
}
.align {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*NAVBAR======================================================================*/
.navbar-form .input-group {
  display: table;
}
.navbar-form .input-group .input-group-addon, .navbar-form .input-group .input-group-btn {
  white-space: nowrap;
  width: 1%;
}
.navbar-form .input-group .form-control {
  width: 100%;
}

.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}
/*EVENT PAGE==================================================================*/
.event-container {
  margin-top: 50px;
}

.event-category {
  margin-left: 3%;
  font-size: 30%;
  font-style: italic;
}
.event-time {
  flex-direction: row;
}
.event-hour {
  font-size: 500%;
  text-shadow: 1px 1px 1px #7D5C87;
}

.event-minutes {
}

.details {
  display: inline-flex;
  width: 100%;
}

.flyer {
  margin-top: 50px;
  max-width: 100%;
  box-shadow: 5px 5px 3px #888888;
}

.heading {
  font-size: 5em;
  text-shadow: 1px 1px 1px #7D5C87;
}

.info {
  flex-direction: row;
  margin-left: 3%;
  margin-top: 3%;
}
.lead {
  padding-right: 25%;
}

.map {
  box-shadow: 5px 5px 3px #888888;
  display: inline-block;
  margin-top: 3%
}

.title {
  border-bottom-style: dotted;
}

.venue-address {
  font-style: italic;
}

.venue-name {
  font-size: 225%;
}

/*CARD WORK===================================================================*/
