body {
  background-color: #FFFFFF;
  color: #342638;
  font-family: 'Lato', sans-serif;
  height: 100%;
}
.align {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*NAVBAR======================================================================*/
.navbar-default {
  box-shadow: 2px 0px 20px #2d1c31;
}
.navbar-form .input-group {
  display: table;
}
.navbar-form .input-group .input-group-addon, .navbar-form .input-group .input-group-btn {
  white-space: nowrap;
  width: 1%;
}
.navbar-form .input-group .form-control {
  width: 100%;
}

.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}
/*EVENT PAGE==================================================================*/
.event-hr {
	height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
    border: 0;
}
.event-category {
  font-style: italic;
}
.event-container {
  margin: 0 auto;
  margin-top: 5%;
  height: auto;
  width: 75%;
}

.img-responsive {
  max-height: 30em;
  box-shadow: 2px 2px 10px #2d1c31;
}

.event-name {
  font-size: 2em;
  height: 8.5em;
  width: 100%;
  overflow: auto;
  word-wrap: break-word;
  text-shadow: 1px 1px 1px #7D5C87;
}

.event-hour {
  font-size: 500%;
  text-shadow: 1px 1px 1px #7D5C87;
}

.event-venue {
  font-size: 150%;
}

.event-distance {
  font-size: 150%;
}

.event-address {
  font-style: italic;
}

.event-description-header {
  text-shadow: 1px 1px 1px #7D5C87;
}

.event-location-header {
  text-shadow: 1px 1px 1px #7D5C87;
}

.map {
  margin-top: 5%;
  box-shadow: 3px 3px 15px #2d1c31;
}
/*CARD WORK===================================================================*/

.resultsCard {
  max-height: 100%;
}

.thumbnail {
    padding:0;
}

.card-image {
  height: 200px !important;
}

.cardName {
  height:50px;
  text-overflow: ellipsis;
}

.catName {
  background-color: #90589A;
  color: #FFFFFF;
}
/*Splash Page===================================================================*/

.splashPageImg {
    width: 100vw;
    height: 55vh;
    background-position: center;
    background-image: url('../assets/crowd2.jpg');
    background-size: cover;
    box-shadow: 2px 0px 10px #2d1c31;
}

.navbar {
  margin-bottom: 0px;
}

.searchHeader {
  font-size: 4em;
  text-shadow: 1px 1px 1px #7D5C87;
}

.searchSubHeader {
  color: #FFFFFF;
  font-size: 1.5em;
  margin-bottom: 2%;
  margin-top: 3%;
  text-shadow: 1px 1px 1px #7D5C87;
}
.splashSearch {
  height:10px;
}

/*Results Page================================================================*/

.results-container {
  margin-top: 5%;
}
