* {
  -webkit-border-radius: 1px !important;
     -moz-border-radius: 1px !important;
          border-radius: 1px !important;
}
#logo {
color: white;
width:100%;
}
#logo h1 {
    font-size: 60px;
    text-shadow: 1px 2px 3px #999;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    letter-spacing: -1px;
}
#logo p{
  padding-bottom: 20px;
}


#form-buscar >.form-group >.input-group > .form-control {
    height: 40px;
}
#form-buscar >.form-group >.input-group > .input-group-btn > .btn{
        border-color: #90589A;
        background-color: #90589A;
        box-shadow: 6px 6px 10px #2d1c31;
        height: 40px;
        font-size: 16px;
        font-weight: 300;


}
#form-buscar >.form-group >.input-group > .input-group-btn > .btn .glyphicon{
 margin-right:12px;
}


#form-buscar >.form-group >.input-group > .form-control {
    box-shadow: 6px 6px 10px #2d1c31;
    font-size: 16px;
    font-weight: 300;

}

#form-buscar >.form-group >.input-group > .form-control:focus {
  border-color: #90589A;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 1px rgba(0, 109, 0, 0.8);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 1px rgba(0, 109, 0, 0.8);
}

.navbar {
  background-color: #90589A;
}
.navbar-default {
  border-color: #90589A;
}
.navbar-brand {
  color: white !important;
}
.aboutUs {
  width: 100vw;
  height: 45vh;
}
.aboutUs{}

.profilePicture {
  width:75px;
  height:auto;
}
.img-circle {
    border-radius: 50% !important;
    margin: auto;
}

.catNav {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display:inline;
}

.catNav li {
  padding-right: 10%;
  float:left;
}
.catNav li a{
  color: #90589A;
  font-size: 25px;
}
.catButtons {
  padding-top: 15px;
  padding-bottom: 25px;
  text-align: center;
  border-bottom: 2px solid #90589A;
}
.catButtons .btn {
  font-size: 19px;
  color: white;
  background-color: #90589A;
  margin-right: 15px;
  border: 2px solid;
  border-radius: 25px !important;
}
.Developer {
  text-align: center;
}
.gitIcon{
  width:20px;
}
.linkedIcon {
  width:23px;
}
.aboutUsHeader {
  text-align: center;
  font-size: 25px;
  /*color:#90589A;*/
  margin:15px 0;
}
.catBlurb {
  text-align: center;
}
